<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
    crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">


 <title>Ada IA</title>
 <link rel="stylesheet" href="style.css">
  </head>
  <div>
   
    <label class="label" for="chk">

      <div class="ball"></div>
    </label>
  </div>
  <body  class="bg-gray-50">
   <header class="text-gray-600 body-font -my-14">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
     <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img class="object-cover object-center rounded" alt="hero" src="https://cdn-icons-png.flaticon.com/512/328/328201.png" height="82" width="62">
      </div>
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
        <span class="ml-3 text-xl"> Ada IA</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a  href="/" class="mr-5 hover:text-gray-900">Página Inicial</a>
        <a  href="/prediction" class="mr-5 hover:text-gray-900"><b>Verificar Informação</b></a>
       <div>
       
      </nav>
    </div>
  </header><hr>
</header><hr>
<section class="text-gray-600 body-font -my-14">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <div class="text-5xl font-extrabold ...">
      <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-blue-500">
          Ada IA
        </span> 
      </div>
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"> Detector de Fake News 
        
      </h1> 
      <p  class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">Olá, posso te ajudar?</p>
      <p class="text-justify text-align: justify;">As vezes as notícias são confusas e temos dificuldade para verificar a autenticidade de uma informação!!!</p>
      <p><p align="Left"> Por isso estou aqui! Mas, eu ainda sou uma ferramenta de teste, então, tenha paciência comigo, certo?!</p>
      <p><font color="#800080"> Vamos começar! Clique no botão 'VERIFICAR INFORMAÇÃO' - Você será encaminhado(a) para outra janela!</font><p>
      <div class="flex justify-center">
        <form action="/prediction" method="POST">
          <div class="mb-3">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Escolha um dos espaços abaixos e digite sua mensagem:</label>
            <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Digite aqui..."></textarea>
             <input type"text" class="form-control" id="news" name="news"
             aria-describedby="message">
            <div id="emailHelp" class="form-text">Como sou uma ferramenta teste, ainda não contemplo todos os assuntos - Atualizada até Julho/2023.</div>
          </div>
          <button type="submit" class="btn btn-primary">Verificar Informação</button>
          
      </form>
   
  </div>

</section>
<img src="https://img.freepik.com/vetores-gratis/propaganda-na-midia-fabricacao-de-noticias-informacoes-enganosas-manipulacao-de-fatos-pessoas-mal-informadas-a-desinformacao-se-espalhou-jornalismo-fraudulento-ilustracao-vetorial-de-metafora-de-conceito-isolado_335657-2712.jpg?w=740&t=st=1679010119~exp=1679010719~hmac=6ef7ea773d7f7a4e55251cb617d0b069fbc28061a7d31ab44f114bc05b5ca2e1" align="left" height="682" width="362">
<section class="text-gray-600 body-font -my-12">
  <div class="container px-5 py-24 mx-auto">
    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
        <path d="https://cdn-icons-png.flaticon.com/512/8024/8024585.png"></path>
      </svg>
      <h2 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Sobre o Projeto</h2>

      <p class="leading-relaxed text-lg">"Ada IA leva o nome da primeira programadora mulher, Ada Lovelace. Foi desenvolvida
        com um corpus em Português com 3000 notícias nacionais e internacionais, divido em 6 temas, com uma acurácia de 86%. A Ada foi projetada
        para detecção automática de notícias, usando aprendizado de máquina supervisionado e linguagem de processamento  natural."</p>
      <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
      <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Na Imprensa</h2>
      <p class="text-gray-500">Leia mais sobre a Ada clicando aqui</p>
    </div>
  </div>
</section><hr>
<section class="text-gray-600 body-font -my-8">
    <div class="container px-5 py-24 mx-auto">
      <div class="text-center mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4"> 6 Dicas sobre Fake News e boas práticas</h1>
        <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">Temos algumas dicas para te ajudar a identificar notícias falsas. Fique de Olho!</p>
            <p><font color="#800080">#PenseAntesdeCompartilhar</font></p>
      </div>
      <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">Observe a data da publicação e o contexto</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">Procure a notícia suspeita em outras fontes - Leia fontes fora da sua rotina, é importante sair da sua zona de conforto com a informação!</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">Desconfie de conteúdo que estimule ódio e sentimento de injustiça</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">Não compartilhe conteúdo com ofensas!</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">Não tem problema pensar diferente, seja critico(a), mas não seja ofensivo(a)!</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">Leia todo o conteúdo antes de compartilhar - O conteúdo pode ter sido manipulado para engajamento!!</span>
          </div>
        </div>
      </div>
      <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Na dúvida - NÃO COMPARTILHE</button>
    </div>
  </section>
  <footer class="text-gray-600 body-font -my-8">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      </div>
          <path d="https://as2.ftcdn.net/v2/jpg/05/55/41/33/1000_F_555413379_JSWm26FCELpzHoP4a5OXhekBdqGdV2MA.webp"></path>
        </svg>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Webysther_20170627_-_Logo_ICMC-USP.svg/2560px-Webysther_20170627_-_Logo_ICMC-USP.svg.png"  height="122" width="112">

      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2023 CBOL — Ferramenta 'Projeto de Machine Learning - Fake News' - Mestrado em Ciências de Computação e Matemática Computacional- ICMC/USP
       <img src="http://www.abc.org.br/wp-content/uploads/2015/09/spaw_uploads_images_capes-e-cnpq-destaque.jpg" height="152" width="142">
      </p>
    </div>
  </div>

  <div><!--CONTAINER-->

  <script src="js/acessibilidade.js"></script>
  <script src="script.js"></script>
  <script src="https://kit.fontawesome.com/998c60ef77.js" crossorigin="anonymous"></script>
  </div>
  </footer>
  </body>
</html>