<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
    crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">


<title>Ada AI</title>
</head>
<body  class="bg-gray-50">
 <header class="text-gray-600 body-font -my-8">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
   <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="https://cdn-icons-png.flaticon.com/512/328/328201.png" height="82" width="62">
    </div>
      <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
    </svg>
    <span class="ml-3 text-xl"> Ada AI</span>
  </a>
  <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
    <a href="/" class="mr-5 hover:text-gray-900">Home</a>
    <a href="/" class="mr-5 hover:text-gray-900">Projeto</a>
    <a href="/prediction" class="mr-5 hover:text-gray-900"><b>Verificar</b></a>
    <img class="object-cover object-center rounded" alt="hero" src="https://t4.ftcdn.net/jpg/03/09/54/75/240_F_309547548_2CsCPM7o5iFxqYp3yNmfYgeeLYqiCyJ4.jpg" height="42" width="42">
   <div>
   
  </nav>
    
  </div>
   
    </div>
</header><hr>
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Sobre o Projeto</h1>
      <p class="text-justify text-align: justify;">Ada AI leva o nome da primeira programadora mulher, Ada Lovelace. Foi desenvolvida
        com um corpus em português com 3000 notícias nacionais e internacionais, divido em 6 temas, com uma acurácia de 82%. A Ada foi projetada
        para detecção automática de notícias, usando aprendizado de máquina supervisionado e linguagem de processamento  natural. 
        A criadora do corpus e ferramenta é a aluna Caroline Lira, como parte da pesquisa no Mestrado em Ciências de Computação e 
        Matemática Computacional da Universidade de São Paulo- ICMC/USP, com area de concentração em Sistemas de Mídia. O projeto foi
        desenvolvido com orientação e supervisão da Profa Dra. Kamila Rios.</p>
      
      </p>
      <p> Sobre o Corpus:</p>
      <table class="border-separate border border-green-800 ...">
        <thead>
          <tr>
            <th class="border border-green-600 ...">Tema</th>
            <th class="border border-green-600 ...">Quantidade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border border-green-600 ...">Política Internacional</td>
            <td class="border border-green-600 ...">000</td>
          </tr>
          <tr>
            <td class="border border-green-600 ...">Política</td>
            <td class="border border-green-600 ...">000</td>
          </tr>
          <tr>
            <td class="border border-green-600 ...">Saúde</td>
            <td class="border border-green-600 ...">0000</td>
          </tr>
          <tr>
            <td class="border border-green-600 ...">Entretenimento</td>
            <td class="border border-green-600 ...">0000</td>
          </tr>
          <tr>
            <td class="border border-green-600 ...">Humor</td>
            <td class="border border-green-600 ...">0000</td>
          </tr>
          <tr>
            <td class="border border-green-600 ...">Tecnologia</td>
            <td class="border border-green-600 ...">0000</td>
          </tr>
          <tr>
            <td class="border border-green-600 ...">Educação</td>
            <td class="border border-green-600 ...">0000</td>
          </tr>
          <tr>
            <td class="border border-green-600 ...">Justiça</td>
            <td class="border border-green-600 ...">0000</td>
          </tr>
          
        </tbody>
      </table>

      <p><h2> Como selecionamos as notícias:</h2></p>
      <p class="text-justify text-align: justify;">As notícias foram extraídas de sites, artigos acadêmicos e Twitter. Não tendo como
        objetivo rotular fontes de informação, como checadores tradicionais, mas, como um
        recurso educacional de apoio para tomada de decisão ao compartilhar um conteúdo.</p>
      
      <p class="text-justify text-align: justify;">As notícias foram extraídas de sites, artigos acadêmicos e Twitter. Não tendo como
      objetivo rotular fontes de informação, como checadores tradicionais, mas, como um
      recurso educacional.</p>
      <p class="text-justify text-align: justify;"> A ferramenta tem como objetivo, auxiliar adultos e idosos
        a checarem a veracidade de uma notícia.</p>
      <p> ----------------</p>
      <center> <p> Quem é Ada Lovelace </p> </center>
     <center> <img  src="https://cio.ucop.edu/wp-content/uploads/2021/10/Ada_Lovelace1500x797.jpg" alt="retrato ilustrado ada lovelace" height="642" width="442"></center>
    <p> Fonte: Imagem University Of California -UC IT Blog </p>
    
      <p class="text-justify text-align: justify;"> Ada Lovelace (1815-1852) é conhecida como a primeira programadora de computadores do mundo. Ela foi a primeira a entender que um computador poderia realizar muito mais do que simplesmente contar. 
        Ela foi a responsável por escrever o primeiro programa de computador já criado, em 1843.

        Ada Lovelace foi além dos seus contemporâneos ao visualizar o potencial da computação como uma ferramenta científica. Ela criou instruções para usar os computadores para fins matemáticos e científicos. Através de suas inovações revolucionou o conhecimento humano de computação.
        
        Com seu trabalho pioneiro, Ada Lovelace segredou o caminho para a moderna computação. 
        Ela dizia que o potencial da computação era quase infinito e é por essa razão que é considerada a primeira programadora de computadores da História. Ela é uma grande inspiração para todos que se esforçam diariamente para desenvolver novas tecnologias e melhorar nossas vidas.
       (Texto Gerado em 07/04/2023 em ChatGPT)</p>
      <p> ----------------</p>
      <p>  Agradecimentos:
       <p class="text-justify text-align: justify;"> Ao acadêmico Jorge, por disponibilizar espaçãopara divulgação
        de material de conscientização sobre Fake News.
        Link : https://projeto-60-mais.vercel.app/FakeNews </p>
    
    </div>
  </div>
</section>
<footer class="text-gray-600 body-font -my-8">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
    </div>
        <path d="https://as2.ftcdn.net/v2/jpg/05/55/41/33/1000_F_555413379_JSWm26FCELpzHoP4a5OXhekBdqGdV2MA.webp"></path>
      </svg>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Webysther_20170627_-_Logo_ICMC-USP.svg/2560px-Webysther_20170627_-_Logo_ICMC-USP.svg.png"  height="122" width="112">

    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2023 CBOL — Ferramenta 'Projeto de Machine Learning - Fake News' - Mestrado em Ciências de Computação e Matemática Computacional- ICMC/USP
     <img src="http://www.abc.org.br/wp-content/uploads/2015/09/spaw_uploads_images_capes-e-cnpq-destaque.jpg" height="152" width="142">
    </p>
  </div>
</div>

<div><!--CONTAINER-->

<script src="js/acessibilidade.js"></script>
<script src="script.js"></script>
<script src="https://kit.fontawesome.com/998c60ef77.js" crossorigin="anonymous"></script>
</div>
</footer>
</body>
</html>